<log4j:configuration>
    <appender name="Snap2Buy" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/tmp/logs/Snap2Buy.log"/>

        <!--<param name="file" value="/usr/share/apache-tomcat-8.0.26/logs/Snap2Buy.log"/>-->
        <param name="DatePattern" value="'.' yyyy-MM-dd"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%p] [%t] [%c:%F:%L] - %m%n"/>
        </layout>
    </appender>


    <appender name="Snap2BuyRoot" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/tmp/logs/Snap2Buy_root.log"/>

        <!--<param name="file" value="/usr/share/apache-tomcat-8.0.26/logs/Snap2Buy.log"/>-->
        <param name="DatePattern" value="'.' yyyy-MM-dd"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%p] [%t] [%c:%F:%L] - %m%n"/>
        </layout>
    </appender>


    <category name="s2b">
        <priority value="debug"/>
        <appender-ref ref="Snap2Buy"/>
    </category>

    <root>
        <level value="info"/>
        <appender-ref ref="Snap2BuyRoot"/>
    </root>

</log4j:configuration>