<log4j:configuration>
    <appender name="Snap2Pay" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/Users/keerthanathangaraju/logs/Snap2Pay.log"/>

        <!--<param name="file" value="/usr/share/apache-tomcat-8.0.26/logs/Snap2Pay.log"/>-->
        <param name="DatePattern" value="'.' yyyy-MM-dd"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%p] [%t] [%c:%F:%L] - %m%n"/>
        </layout>
    </appender> 
  
    <category name="s2p">
        <priority value ="debug" />
        <appender-ref ref="Snap2Pay" />
    </category>
	
    <root>
        <level value="info"/>
        <appender-ref ref="Snap2Pay"/>
    </root>
	
</log4j:configuration>